<!doctype html>
<html>
<head>
    <meta charset ="utf-8" />
    <title>screen3</title>
    <link rel="stylesheet" href="screen_testk.css" />
</head>
<body>
<div class="Genre">

</div>
<div class="con">
    <div class="topic">トピック</div>
    <div class="link1"><button class="botan" onclick="window.open('https://qiita.com/kohei_abe/items/389cb1f667dc66948c2b')">リンク1</button></div>
    <div class="link2"><button class="botan" onclick="window.open('')">リンク2</button></div>
    <!--<div class="link3"><button class="botan" onclick="window.open('')">リンク3</button></div> -->
    <div class="link3"><a href="">リンク3</a></div>

    <div class="relatedgenre1">
        <p>関連するジャンル1<br><button name="relatedgenre1" value="relatedgenre1">野球</button></p>
    </div>

    <div class="relatedgenre2">
        <p>関連するジャンル2<br><button name="relatedgenre2" value="relatedgenre2">競馬</button></p>
    </div>

    <div class="gotop">
        <p>ジャンル選択画面へ<br><button name="gotop" value="gotop">goTop</button></p>

    </div>
</div>



</body>
</html>