.con{
    display: grid;
    /*
    grid-template-areas:
    ". topic ."
    "link1 link2 link3"
    "relatedgenre1 . ."
    "relatedgenre2 . ."
    "gotop . .";
    */

    grid-template-rows: repeat(5, auto);

    gap: 35px;

    grid-template-areas:
    ".  topic . ."
    ". . . ."
    "link1 link2 link3 relatedgenre1"
    "link1 link2 link3 relatedgenre2"
    "link1 link2 link3 gotop"
}

.botan{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.topic{
    grid-area: topic;
}
.link1{
    grid-area: link1;
}
.link2{
    grid-area: link2;
}
.link3{
    grid-area: link3;
}
.relatedgenre1{
    grid-area: relatedgenre1;
}
.relatedgenre2{
    grid-area: relatedgenre2;
}
.gotop{
    grid-area: gotop;
}