<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>関連トピック</title>
    <link rel="stylesheet" th:href="@{/css/screen.css}" href="../static/css/screen.css" />
</head>
<body>
    <!--渡す必要のある変数(genre,topics.get(0),topics.get(1),topics.get(2))-->
    <form action="/screen3" method = "post"> <!--RequestMappingのvalue="/screen2"-->
        <div class="grid-container">
            <!--genreにジャンル名を渡してください-->
            <div class="grid-item c">
                <button name="Genre" type = "submit" th:value="${genre}">[[${genre}]]</button>
            </div>
            
            <!--topic1にジャンルの子ジャンル1つ目を渡してください-->
            <div class="grid-item k">
                <button name="topic" type = "submit" th:value="${topics.get(0)}">[[${topics.get(0)}]]</button>
            </div>

            <!--topic2にジャンルの子ジャンル2つ目を渡してください-->
            <div class="grid-item m">
                <button name="topic" type = "submit" th:value="${topics.get(1)}">[[${topics.get(1)}]]</button>
            </div>

            <!--topic3にジャンルの子ジャンル3つ目を渡してください-->
            <div class="grid-item o">
                <button name="topic" type = "submit" th:value="${topics.get(2)}">[[${topics.get(2)}]]</button>
            </div>
        </div>
    </form>

</body>
</html>