<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8" />
        <title>screen1</title>
    </head>

    <body>
        <p>見たいジャンルから選ぶ</p>
        <ul>
            <li><button name="genre1" value="genre1">移動</button></li>
            <li><button name="genre2" value="genre2">移動</button></li>
            <li><button name="genre3" value="genre3">移動</button></li>
            <li><button name="genre4" value="genre4">移動</button></li>
        </ul>

        <p>トピックから選ぶ<button name="goScreen2" value="goScreen2">ボタン</button></p>
        <p>オススメ記事から選ぶ<button name="goScreen5" value="goScreen5">ボタン</button></p>
    </body>
</html>