<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>トピックから選ぶ</title>
    <link rel="stylesheet" th:href="@{/css/screen.css}" href="../static/css/screen.css" />
</head>
<body>
    <!--渡す必要のある変数(topic1,topic2,topic3,topic4....topic12)-->
    <form action="/screen4" method = "post"> <!--RequestMappingのvalue="/screen4"-->
        <div class="grid-container">
            <!--変数topic1,topic2,topic3,,,,,topic12にトピック名を渡してください-->
            <div class="grid-item b">
                <button name="topic" type = "submit" th:value="${topic1}">[[${topic1}]]</button>
            </div>
        
            <div class="grid-item c">
                <button name="topic" type = "submit" th:value="${topic2}">[[${topic2}]]</button>
            </div>
        
            <div class="grid-item d">
                <button name="topic" type = "submit" th:value="${topic3}">[[${topic3}]]</button>
            </div>
        
        
            <div class="grid-item f">
                <button name="topic" type = "submit" th:value="${topic4}">[[${topic4}]]</button>
            </div>
        
        
            <div class="grid-item j">
                <button name="topic" type = "submit" th:value="${topic5}">[[${topic5}]]</button>
            </div>
        
            <div class="grid-item k">
                <button name="topic" type = "submit" th:value="${topic6}">[[${topic6}]]</button>
            </div>
        
        
            <div class="grid-item o">
                <button name="topic" type = "submit" th:value="${topic7}">[[${topic7}]]</button>
            </div>
        
            <div class="grid-item p">
                <button name="topic" type = "submit" th:value="${topic8}">[[${topic8}]]</button>
            </div>
        
        
            <div class="grid-item t">
                <button name="topic" type = "submit" th:value="${topic9}">[[${topic9}]]</button>
            </div>
        
        
            <div class="grid-item v">
                <button name="topic" type = "submit" th:value="${topic10}">[[${topic10}]]</button>
            </div>
        
            <div class="grid-item w">
                <button name="topic" type = "submit" th:value="${topic11}">[[${topic11}]]</button>
            </div>
        
            <div class="grid-item x">
                <button name="topic" type = "submit" th:value="${topic12}">[[${topic12}]]</button>
            </div>

        </div>


    </form>
    
</body>
</html>