<!doctype html>
<html>
<head>
    <meta charset ="utf-8" />
    <title>screen3</title>
</head>
<body>
<p>サッカー</p>
  <ul>
    <li><a href="ニュースのURL1">ニュース1</a></li>
    <li><a href="ニュースのURL2">ニュース2</a></li>
    <li><a href="ニュースのURL3">ニュース3</a></li>
    <!-- 必要に応じて追加 -->
  </ul>

<p>関連するジャンル1<br><button name="RelatedGenre1" value ="RelatedGenre1">野球</button></p>
<!--ボタンの中身を動的に変化させる-->


<p>関連するジャンル2<br><button name="RelatedGenre2" value ="RelatedGenre2">競馬</button></p>

<p>ジャンル選択画面へ<br><button name="goTop" value="goTop">Go</button></p>
</body>
</html>