<!doctype html>
<html>
<head>
    <meta charset ="utf-8" />
    <title>screen4</title>
</head>
<body>
    <p>中ジャンル</p>
    <ul>
        <li>野球<button name="MiddleGenre1" value="MiddleGenre1">移動</button></li>
        <li>サッカー<button name="MiddleGenre2" value="MiddleGenre2">移動</button></li>
        <li>競馬<button name="MiddleGenre3" value="MiddleGenre3">移動</button></li>
        <li>株式<button name="MiddleGenre4" value="MiddleGenre4">移動</button></li>
        <li>市況<button name="MiddleGenre5" value="MiddleGenre5">移動</button></li>
        <li>産業<button name="MiddleGenre6" value="MiddleGenre6">移動</button></li>
        <li>AI<button name="MiddleGenre7" value="MiddleGenre7">移動</button></li>
        <li>ICT<button name="MiddleGenre8" value="MiddleGenre8">移動</button></li>
        <li>PC<button name="MiddleGenre9" value="MiddleGenre9">移動</button></li>
        <!--その他いろいろ、ボタンのvalueにはth:valueで実際の値を入れる,ボタンを押すとnameにvalueが入る-->
    </ul>
    <!--実際は繰り返し文にする-->

    <p>トップに戻る<button name="goTop" value="goTop">ボタン</button></p>

</body>