<!doctype html>
<html>
<head>
    <meta charset ="utf-8" />
    <title>screen3</title>
    <link rel="stylesheet" th:href="@{/css/screen.css}" href="../static/css/screen.css" />
</head>
<body>
<!--コントローラーが渡す必要のある変数(topic,url1,url2,url3,midasi1,midasi2,midasi3,relatedGenre1,relatedGenre2)-->
<form action="/screen3" method = "post"> <!--RequestMappingのvalue="/screen3"-->
<div class="grid-container">
    <div class="c"><p>[[${topic}]]</p></div>  <!--topicにトピック名を渡してください-->
    <!--url1,url2,url3にそれぞれのニュースのurlをmidasi1,midasi2,midasi3にそれぞれの記事の見出しを渡してください-->
    <div class="k"><button class="botan" type="button" th:attr="onClick='location.href=\''+${url1}+'\''">[[${midasi1}]]</button></div> 
    <div class="m"><button class="botan" type="button" th:attr="onClick='location.href=\''+${url2}+'\''">[[${midasi2}]]</button></div>
    <div class="o"><button class="botan" type="button" th:attr="onClick='location.href=\''+${url3}+'\''">[[${midasi3}]]</button></div>

    <!--relatedGenre1に関連するジャンル1つ目のジャンル名を渡してください--><!--ボタンを押すとRelatedGenre1にrelatedGenre1が入って引数String RelatedGenre1に入る-->
    <div class="a">
        <button name="RelatedGenre1" type = "submit" value="relatedGenre1Name" th:value="${relatedGenre1}">関連するジャンル1<br>[[${relatedGenre1}]]</button>
    </div>

    <!--relatedGenre2に関連するジャンル2つ目のジャンル名を渡してください-->
    <div class="e">
        <button name="RelatedGenre2" type = "submit" value="relatedGenre2Name" th:value="${relatedGenre2}">関連するジャンル2<br>[[${relatedGenre2}]]</button>

    </div>

    <!--画面遷移用のボタン-->
    <div class="y">
        <button name="gotop" value="gotop">goTop</button>
    </div>
</div>
</body>
</form>
</html>