<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>スクリーンテンプレート</title>
    <link href="styles/template.css" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
        <div class="grid-item a"><a href="#">リンクa</a></div>
        <div class="grid-item b"><a href="#">リンクb</a></div>
        <div class="grid-item c"><a href="#">リンクc</a></div>
        <div class="grid-item d"><a href="#">リンクd</a></div>
        <div class="grid-item e"><a href="#">リンクe</a></div>
        <div class="grid-item f"><a href="#">リンクf</a></div>
        <div class="grid-item g"><a href="#">リンクg</a></div>
        <div class="grid-item h"><a href="#">リンクh</a></div>
        <div class="grid-item i"><a href="#">リンクi</a></div>
        <div class="grid-item j"><a href="#">リンクj</a></div>
        <div class="grid-item k"><a href="#">リンクk</a></div>
        <div class="grid-item l"><a href="#">リンクl</a></div>
        <div class="grid-item m"><a href="#">リンクm</a></div>
        <div class="grid-item n"><a href="#">リンクn</a></div>
        <div class="grid-item o"><a href="#">リンクo</a></div>
        <div class="grid-item p"><a href="#">リンクp</a></div>
        <div class="grid-item q"><a href="#">リンクq</a></div>
        <div class="grid-item r"><a href="#">リンクr</a></div>
        <div class="grid-item s"><a href="#">リンクs</a></div>
        <div class="grid-item t"><a href="#">リンクt</a></div>
        <div class="grid-item u"><a href="#">リンクu</a></div>
        <div class="grid-item v"><a href="#">リンクv</a></div>
        <div class="grid-item w"><a href="#">リンクw</a></div>
        <div class="grid-item x"><a href="#">リンクx</a></div>
        <div class="grid-item y"><a href="#">リンクy</a></div>
    </div>
</body>
</html>
